Flask==2.1.2
scikit-image
tensorflow-cpu
opencv-contrib-python-headless
imutils
keras
# keras_nightly==2.9.0.dev2022030908
matplotlib==3.5.1
numpy==1.22.0

requests==2.27.1

# tf_nightly_gpu==2.9.0.dev20220308
